
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta name = "google-site-verify" content = "1AH1fN3G7ygWRcOlEQWJyhginaxmT67zTMPP8wnfFD0" />

  <meta name="p:domain_verify" content="109de6686e51e396ddd32475ad614b1f"/>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="shortcut icon" href="/template/dienmaynguoiviet/images/favicon.ico"/>
    <meta name="robots" content="index,follow" />
  
    
  
  	<!-- bbbbbbb Array
(
    [name] => error
    [view] => home
    [view_id] => 0
)
1 -->
  
  	<meta name="keywords" content="error 404"/>
    <meta name="description" content="Ðu?ng link c?n xem không có trên website ho?c dã b? xóa"/>
  	<link rel="alternate" type="application/rss+xml" title="RSS Feed for https://dienmaynguoiviet.vn" href="/product.rss" />
  
  	<meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="N?i dung không t?n t?i" />
    <meta property="og:description" content="Ðu?ng link c?n xem không có trên website ho?c dã b? xóa" />
  
    
  	<meta property="og:image" content="/media/banner/logo_logo.png" />
    
  
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>N?i dung không t?n t?i</title>

    <link rel="stylesheet" href="../../../../template/dienmaynguoiviet/script/owl.carousel.min.css">
    <link rel="stylesheet" href="/template/dienmaynguoiviet/script/styles.css?v=88888.883.1">    
  	<link rel="stylesheet" href="/template/dienmaynguoiviet/script/customs.css?v=245754.75.529">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=vietnamese" rel="stylesheet">

  	
  	<script src="/javascript/dist/jquery.min.js"> </script>
  
 <!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '481349662401312');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=481349662401312&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  
 
  
  <!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
})(window,document,'script','dataLayer','GTM-WB77XQL');</script> 
<!-- End Google Tag Manager --> 
  
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="//www.googletagmanager.com/gtag/js?id=UA-106951419-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-106951419-1');
</script>

  
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-971664599"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'AW-971664599');
</script>


	
  
  
  
  
  <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "url": "https://dienmaynguoiviet.vn",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "/tim?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
</head>

<body class="bg-gray" style="background-color:#EEEEEE; background-image:;">

  
    <!-- begin header -->
<header class="header bg-fff">
  <div class="container header-top">
    <div id="b_scroll_left" style="display:none;">  </div>
    <div id="b_scroll_right" style="display:none;">  </div>
    
    <div class="logo">
      <a href="/">
        <img src="/media/banner/logo_logo.png" alt="Ðu?ng link c?n xem không có trên website ho?c dã b? xóa">
      </a>
    </div>
    <div class="search">
      <span class="show-search">
        <i class="fas fa-search"></i>
      </span>
      <form name="search" id="search" action="/tim">
        <input type="text" id="text_search" name="q" placeholder="B?n tìm gì....">
        <span class="btn-search" onClick="search.submit();">
          <i class="fas fa-search"></i>
        </span>
        <div class="autocomplete-suggestions"></div>
      </form>
      
    </div>
    <div class="header-link">
      <a href="/cart" class="icon-cart"><span><i class="fas fa-shopping-cart"></i><b id="count_shopping_cart_store">0</b></span></a>
      <div class="product-history">
        <span class="title-h">S?n ph?m dã xem
          <i class="fas fa-sort-down"></i>
        </span>
        <div class="section-product">
          <div class="product-related">
            <div class="container list-product owl-carousel owl-theme" id="viewtop">
              
            </div>
          </div>
        </div>
      </div>
      <a href="tel: 02473036336" class="hotline">
        <i class="fas fa-phone"></i>
        02473036336
        <span>G?i mua hàng</span>
      </a>
      <a href="/tin-khuyen-mai/" class="link-blog">
        Tin t?c khuy?n m?i
        <span>Uu dãi, gi?m giá, quà t?ng</span>
      </a>
    </div>
  </div>
  <div class="menu-header">
    <div class="container heaed-table">
      <div class="menu-left ">
        <span class="show-menu">
          <i class="fas fa-bars"></i> Danh m?c s?n ph?m</span>
        <div class="nav active">
          <div class="menu-item">
            <a href="/deal">GI?M GIÁ Ð?C BI?T</a>
          </div>
          
          <div class="menu-item">
            <a href="/ti-vi/"> <img src="/media/category/cat_4d485476e07e02638e8e2133cdf8f56d.png"> Tivi</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-tivi/">Thuong hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tivi-samsung/">Tivi Samsung</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-lg/">Tivi LG</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-sony/">Tivi Sony</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-tcl/">Tivi TCL</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-panasonic/">Tivi Panasonic</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-sharp/">Tivi Sharp</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/loai-tivi/">Lo?i Tivi</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/8k/">8K</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-4k/">4K</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-man-hinh-cong/">Tivi Màn Hình Cong</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-3d/">Tivi 3D</a>
                    </li>
                    
                    <li>
                      <a href="/smart-tivi/">Smart Tivi</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-led/">Tivi LED</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-oled/">Tivi OLED</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-qled/">Tivi QLED</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-frame/">Tivi Frame</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/kich-co-tivi/">Kích c? Tivi</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tivi-duoi-32-inches/">Tivi du?i 32 inches</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-32-inches/">Tivi 32 inches</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-33-49-inches/">Tivi 33 - 49 inches</a>
                    </li>
                    
                    <li>
                      <a href="/tivi-tren-49-inches/">Tivi trên 49 inches</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/tu-lanh/"> <img src="/media/category/cat_34ead602847eccffd2bc5af611a422d2.png"> T? L?nh</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-tu-lanh/">Thuong hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tu-lanh-hitachi/">Hitachi</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-panasonic/">Panasonic</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-samsung/">Samsung</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-sharp/">Sharp</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-toshiba/">Toshiba</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-lg/">LG</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-aqua/">AQua</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-mitsubishi/">Mitsubishi</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-electrolux/">Electrolux</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-funiki/">Funiki</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/dung-tich/">Dung Tích</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/duoi-150-lit/">Du?i 150 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-150-200-lit/">T? 150 - 200 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-200-300-lit/">T? 200 - 300 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-300-400-lit/">T? 300 - 400 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-400-500-lit/">T? 400 - 500 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-500-600-lit/">T? 500 - 600 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tren-600-lit/">Trên 600 lít</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/loai-tu/">Lo?i t?</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tu-lanh-side-by-side/">T? l?nh Side By Side</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-ngan-da-tren/">T? l?nh ngan dá du?i</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-ngan-da-tren/">T? L?nh Ngan Ðá Trên</a>
                    </li>
                    
                    <li>
                      <a href="/tu-lanh-mini/">T? L?nh Mini</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/may-giat/"> <img src="/media/category/cat_d3306ab36c10519e174cd70561740e69.png"> Máy Gi?t</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-may-giat/">Thuong hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/may-giat-electrolux/">Máy gi?t Electrolux</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-lg/">Máy gi?t LG</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-toshiba/">Máy gi?t Toshiba</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-panasonic/">Máy gi?t Panasonic</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-sanyo/">Máy gi?t Aqua</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-samsung/">Máy gi?t Samsung</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-sharp/">Máy gi?t Sharp</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/kieu-giat/">Ki?u gi?t</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/may-giat-long-ngang/">L?ng Ngang</a>
                    </li>
                    
                    <li>
                      <a href="/may-giat-long-dung/">L?ng Ð?ng</a>
                    </li>
                    
                    <li>
                      <a href="/long-nghieng/">L?ng Nghiêng</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/khoi-luong-giat/">Kh?i lu?ng gi?t</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/duoi-7kg/">Du?i 7kg</a>
                    </li>
                    
                    <li>
                      <a href="/tu-7-8kg/">T? 7 - 8kg</a>
                    </li>
                    
                    <li>
                      <a href="/tu-8-9kg/">T? 8 - 9kg</a>
                    </li>
                    
                    <li>
                      <a href="/tren-9kg/">Trên 9kg</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/may-say-quan-ao/"> <img src="/media/category/cat_22b19c0055ddb1f48a2a6bf7b652c01f.png"> Máy S?y Qu?n Áo</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/may-say-quan-ao-lg/">Máy s?y qu?n áo LG</a>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/may-say-quan-ao-electrolux/">Máy s?y qu?n áo Electrolux</a>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/dieu-hoa/"> <img src="/media/category/cat_f6c8dd5cf8f95e19e99ef874e3edc242.png"> Máy Ði?u Hòa</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-dieu-hoa/">Thuong Hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/dieu-hoa-daikin/">Ði?u hòa Daikin</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-panasonic/">Ði?u hòa Panasonic</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-mitsubishi/">Ði?u hòa Mitsubishi</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-lg/">Ði?u hòa LG</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-sharp/">Ði?u hòa Sharp</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-funiki/">Ði?u hòa Funiki</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-samsung/">Ði?u hòa Samsung</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-nagakawa/">Ði?u hòa Nagakawa</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-electrolux/">Ði?u hòa Electrolux</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/tiet-kiem-dien/">Ti?t Ki?m Ði?n</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/dieu-hoa-tiet-kiem-dien/">Ði?u hòa ti?t ki?m di?n</a>
                    </li>
                    
                    <li>
                      <a href="/co/">Có</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/cong-suat/">Công Su?t</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/1hp/">1HP</a>
                    </li>
                    
                    <li>
                      <a href="/15hp/">1.5HP</a>
                    </li>
                    
                    <li>
                      <a href="/2hp/">2HP</a>
                    </li>
                    
                    <li>
                      <a href="/25hp/">2.5HP</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/loai-dieu-hoa/">Lo?i Ði?u Hòa</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/dieu-hoa-1-chieu/">Ði?u Hòa 1 Chi?u</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-2-chieu/">Ði?u Hòa 2 Chi?u</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/kieu-may-dieu-hoa/">Ki?u Máy Ði?u Hòa</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/treo-tuong/">Treo Tu?ng</a>
                    </li>
                    
                    <li>
                      <a href="/tu-dung/">T? Ð?ng</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-am-tran/">Âm Tr?n</a>
                    </li>
                    
                    <li>
                      <a href="/dieu-hoa-ap-tran/">Áp Tr?n</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/may-loc-nuoc-ao-smith/"> <img src="/media/category/cat_d8bc7e22dcd3dcc525a4f3e9c7b433bc.png"> A.O.Smith</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/may-loc-nuoc-ro-side-stream/">Máy L?c Nu?c RO-Side Stream</a>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/may-loc-nuoc-dau-nguon/">Máy L?c Nu?c Ð?u Ngu?n</a>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/may-loc-khong-khi-ao-smith/">Máy L?c Không Khí AO Smith</a>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/quat-lam-mat-khong-khi/"> <img src=""> Qu?t làm mát không khí</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/gia-dung/"> <img src="/media/category/cat_a22746738a475a75211f96a98549a811.png"> Gia D?ng</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/san-pham-gia-dung/">S?n Ph?m Gia D?ng</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/may-hut-bui/">Máy Hút B?i</a>
                    </li>
                    
                    <li>
                      <a href="/binh-nong-lanh/">Bình nóng l?nh</a>
                    </li>
                    
                    <li>
                      <a href="/ban-la/">Bàn Là, Bàn ?i</a>
                    </li>
                    
                    <li>
                      <a href="/may-say-toc/">Máy S?y Tóc</a>
                    </li>
                    
                    <li>
                      <a href="/quat-dien/">Qu?t Ði?n</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/san-pham-nha-bep/">S?n Ph?m Nhà B?p</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/noi-com-dien/">N?i Com Ði?n</a>
                    </li>
                    
                    <li>
                      <a href="/lo-vi-song/">Lò Vi Sóng</a>
                    </li>
                    
                    <li>
                      <a href="/binh-thuy-dien/">Bình Th?y Ði?n</a>
                    </li>
                    
                    <li>
                      <a href="/ben-tu-hong-ngoai/">B?p T? - H?ng Ngo?i</a>
                    </li>
                    
                    <li>
                      <a href="/am-sieu-toc/">?m Siêu T?c</a>
                    </li>
                    
                    <li>
                      <a href="/cay-nuoc-nong-lanh/">Cây Nu?c Nóng L?nh</a>
                    </li>
                    
                    <li>
                      <a href="/may-danh-trung/">Máy Ðánh Tr?ng</a>
                    </li>
                    
                    <li>
                      <a href="/lo-nuong/">Lò nu?ng</a>
                    </li>
                    
                    <li>
                      <a href="/may-xay-sinh-to/">Máy Xay Sinh T?</a>
                    </li>
                    
                    <li>
                      <a href="/may-ep-hoa-qua/">Máy Ép Hoa Qu?</a>
                    </li>
                    
                    <li>
                      <a href="/may-xay-da-nang/">Máy Xay Ða Nang</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/tu-dong/"> <img src="/media/category/cat_f64d8213e904929e9114d7eb68ffe7e5.png"> T? Ðông</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-tu-dong/">Thuong hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tu-dong-sanaky/">Sanaky</a>
                    </li>
                    
                    <li>
                      <a href="/tu-dong-hoa-phat/">Hòa Phát</a>
                    </li>
                    
                    <li>
                      <a href="/tu-dong-nagakawa/">Nagakawa</a>
                    </li>
                    
                    <li>
                      <a href="/tu-dong-panasonic/">Panasonic</a>
                    </li>
                    
                    <li>
                      <a href="/tu-dong-nanomisu/">Nanomisu</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/tu-mat/"> <img src="/media/category/cat_16d7d1935af1373f80a43ad4bd87c845.png"> T? Mát</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/thuong-hieu-tu-mat/">Thuong hi?u</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tu-mat-sanaky/">Sanaky</a>
                    </li>
                    
                    <li>
                      <a href="/tu-mat-hoa-phat/">Hòa Phát</a>
                    </li>
                    
                    <li>
                      <a href="/tu-mat-nagakawa/">Nagakawa</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/dung-tich/">Dung tích</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tu-300-400-lit/">T? 300 - 400 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-200-300-lit/">T? 200 - 300 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-400-500-lit/">T? 400 - 500 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-500-600-lit/">T? 500 - 600 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-600-700-lit/">T? 600 - 700 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-700-800-lit/">T? 700 - 800 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-100-200-lit/">T? 100 - 200 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tu-900-1000-lit/">T? 900 - 1000 lít</a>
                    </li>
                    
                    <li>
                      <a href="/tren-1000-lit/">Trên 1000 lít</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/tu-uop-ruou/">T? u?p ru?u</a>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/am-thanh/"> <img src="/media/category/cat_c2d94b17657857da527224b83996605b.png"> Âm thanh</a>
            
            <i class="fas fa-angle-right"></i>
            <div class="menu-mega">
              <ul class="main-sub">
                
                <li class="item-sub">
                  <a href="/dan-am-thanh/">Dàn âm thanh</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/dan-am-thanh-lg/">LG</a>
                    </li>
                    
                    <li>
                      <a href="/dan-am-thanh-samsung/">Samsung</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/amply-amplifier/">Amply - Amplifier</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/amply-karaoke/">Amply Karaoke</a>
                    </li>
                    
                    <li>
                      <a href="/amply-nghe-nhac/">Amply Nghe Nh?c</a>
                    </li>
                    
                    <li>
                      <a href="/amply-hoi-truong/">Amply H?i Tru?ng</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/loa/">Loa</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/loa-hoi-truong/">Loa H?i Tru?ng</a>
                    </li>
                    
                    <li>
                      <a href="/loa-karaoke/">Loa Karaoke</a>
                    </li>
                    
                    <li>
                      <a href="/loa-subwoofer/">Loa Subwoofer</a>
                    </li>
                    
                    <li>
                      <a href="/loa-nghe-nhac/">Loa Nghe Nh?c</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/micro/">Micro</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/micro-khong-day/">Micro Không Dây</a>
                    </li>
                    
                    <li>
                      <a href="/micro-co-day/">Micro Có Dây</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/dau-dia/">Ð?u dia</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/dau-dia-dvd/">Ð?u Ðia DVD</a>
                    </li>
                    
                    <li>
                      <a href="/dau-dia-karaoke/">Ð?u Ðia Karaoke</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
                <li class="item-sub">
                  <a href="/tai-nghe/">Tai nghe</a>
                  
                  <ul class="main-child">
                    
                    <li>
                      <a href="/tai-nghe-lg/">Tai nghe LG</a>
                    </li>
                    
                  </ul>
                  
                </li>
                
              </ul>
            </div>
            
          </div>
          
          <div class="menu-item">
            <a href="/may-anh/"> <img src=""> Máy ?nh</a>
            
          </div>
          
        </div>
      </div>
      <div class="menu-right">
        <div class="pulse-icon">
                    <div class="icon-wrap">
                    </div>
                    <div class="elements">
                        <div class="pulse pulse-1">
                        </div>
                    </div>
                </div>
        <ul>
           <li>
            <a href="/may-giat-lg/">Mua máy gi?t lg giá r?</a>
          </li>
          <li>
            <a href="/tu-lanh/">T? l?nh chính hãng giá r?</a>
          </li>
          <li>
            <a href="/huong-dan-mua-dien-may-tra-gop-online-qua-the-tin-dung-tren-dien-may-nguoi-viet/" rel="nofollow">Hu?ng d?n mua tr? góp lãi su?t 0%</a>
          </li>
          <li>
            <a href="/may-loc-nuoc-ro-side-stream/">Máy l?c nu?c AO Smith giá r?</a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
  
    

<div class="container">
<!--<script>setTimeout(function(){location.href='/'; }, 5000);</script>-->
<style type="text/css">
	h1 { font-size:18px; margin:0; padding:0}
	#holder { width:500px; padding:6px; background-color:#FF9; margin:auto; border:1px solid #CCC;}
</style>
<br />
<h1>N?i dung không tìm th?y ho?c dã b? xóa b?!</h1>

<p>N?i dung hay d?a ch? web b?n y&ecirc;u c?u kh&ocirc;ng t?n t?i. </p>


<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
</div>
  
    <!--<hr>-->
<!-- begin footer -->
<footer>
  <div class="container">
    <div class="row">
    <div class="col-md-2 col-footer">
        <h3 class="title">Thông tin</h3>
        <ul class="footer_list-link">
            <li>
                <a href="/gioi-thieu">Gi?i thi?u</a>
            </li>
           <li>
                <a href="/lien-he">Liên h?</a>
            </li>
            <li>
                <a href="/nha-phan-phoi-dien-may-uy-tin-chuyen-nghiep/">D? án bán buôn</a>
            </li>
           
            <li>
                <a href="/tuyen-dung/">Tuy?n d?ng</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-footer">
        <h3 class="title">H? tr? mua hàng</h3>
        <ul class="footer_list-link">
            <li>
                <a href="/page/chinh-sach-doi-tra-hang">Chính sách d?i tr?</a>
            </li>
            <li>
                <a href="/huong-dan-mua-dien-may-tra-gop-online-qua-the-tin-dung-tren-dien-may-nguoi-viet/">Hu?ng d?n tr? góp</a>
            </li>
            <li>
                <a href="/page/cach-thuc-thanh-toan">Cách th?c thanh toán</a>
            </li>
            <li>
                <a href="/page/bang-gia-vat-tu-lap-dat">B?ng giá v?t tu l?p d?t</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2 col-footer">
        <h3 class="title">T?ng dài h? tr?</h3>
        <ul class="footer_list-link">
            <li>Mua hàng
                <a href="tel:02473036336">0247.303.6336</a>
            </li>
            <li>CSKH
                <a href="tel:0916917949">0916917949</a>
            </li>
            <li>B?o hành
                <a href="tel:02436879145">0243.687.9145</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-footer">
        <h3 class="title">Chính sách</h3>
        <ul class="footer_list-link">
            <li>
                <a href="/page/chinh-sach-quy-dinh-chung">Chính sách & quy d?nh chung</a>
            </li>
            <li>
                <a href="/page/chinh-sach-doi-tra-hang">Chính sách d?i tr? s?n ph?m</a>
            </li>
            <li>
                <a href="/page/chinh-sach-bao-hanh">Chính sách b?o hành</a>
            </li>
            <li>
                <a href="/page/chinh-sach-van-chuyen">Chính sách giao hàng</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3 col-footer">
        <form>
            <input id="email_newsletter" type="text" placeholder="Nh?n thông tin khuy?n m?i">
            <span id="now_submit">G?i</span>
        </form>
        <h4 style="margin-top: 20px;margin-bottom: 10px;">K?t n?i v?i chúng tôi</h4>
        <a class="ft-fb" rel="nofollow"  href="https://www.facebook.com/dienmaynguoiviet/"><i class="fab fa-facebook-f"></i></a>
        <a class="ft-yt" rel="nofollow"  href="https://www.youtube.com/channel/UCRVWFSZs8k81B61_hwmkMIA"><i class="fab fa-youtube"></i></a>
        <a rel="nofollow"  href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=1180"><img style="max-height: 40px" src="/template/dienmaynguoiviet/images/dathongbao.png"></a>
  
</div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p> <b>© 2018. Công ty TNHH Thuong M?i Phú Ti?n. Ð?a ch?: : Kho Ðóng Tàu, Ngõ 683 Ðu?ng Nguy?n Khoái, Qu?n Hoàng
        Mai, TP HN. GPKD s? : 0102011440 do S? K? Ho?ch và Ð?u Tu TP. Hà N?i, c?p ngày 25/02/2004 </b></p>
    </div>
  </div>
</footer>
<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-angle-up"></i></button>
<!-- end footer -->

  
  
  
 
  <!--link rel="stylesheet" rel="nofollow" href="../../../..//cdn-alo.coccoc.com/widget/css/widget.css"/>
<script type="text/javascript">var widget_token="9e702f88ae2f83dbe446b4fbfcdbb9ec818ee963";</script>
<script type="text/javascript" async src="//cdn-alo.coccoc.com/widget/js/widget.js"></script-->

   <div style="position:fixed; bottom:70px; right:0;">   
<a href="tel:02473036336"><img src="/media/lib/tongdai02473036336.png" alt="hotline" style="height:72px;"/></a>
    <div class="clear"></div>
   </div>


    <script src="/javascript/dist/hurastore.js?v=4"> </script>
<script src="/template/dienmaynguoiviet/script/owl.carousel.min.js"></script> 
<script src="/template/dienmaynguoiviet/script/main.js?v=1.1.2"></script>
<script>
$(document).ajaxStop(function() {
  $('#viewtop').owlCarousel({
      loop: true,
      items : 8,
      margin: 10,
      nav: false,
      dots: false,
      responsive: {
          0: {
              items: 2
          },
          768: {
              items: 4
          },
          992: {
              items: 6
          },
          1200: {
              items: 8
          }
      }
  });
});
$.getJSON("/ajax/get_json.php?action=view-history", function(data){
  var html = '';
  var i = 0;
  Object.keys(data).forEach(function(item, key, keyIndex) {
    if(key >= 10){
       return;
    }
    var title = data[item].productName;
    var url = data[item].productUrl;
    var price = data[item].price;
    var srcimg = data[item].productImage.original;
    var specialOffer = data[item].specialOffer[0];
    var htmlspecialOffer = '';
    var htmlPrice = '';
    if(specialOffer != ''){
      //htmlspecialOffer = '<img src="/template/dienmaynguoiviet/images/gift.jpg" alt="">'
    }
    if(price != 0){
      htmlPrice = '<span class="p-price">'+ formatCurrency(price) +' VNÐ</span>'
    }
    html += ('<div class="item"><div class="p-item"><a href="' +url+ '" class="p-img"><img src="' +srcimg+ '" alt="' +title+ '"></a><span class="p-percent">Tr? góp 0%</span><a href="' +url+ '" class="p-name">' +title+ '</a><span class="p-price">'+htmlPrice+' </span>'+htmlspecialOffer+'</div></div>');
    $('#viewtop').html(html);
  });
}); 
</script>
<!---//script hien thi tat ca cac trang-->
<script>
  if(window.innerWidth > 1500){
  	$("#b_scroll_left,#b_scroll_right").show();
  }
  
  //show cart summary
  function showCartSummary() {
      var $status_container = $("#count_shopping_cart_store");

      if(!Hura.Cart.isReady()) return false;

      var cart_summary = Hura.Cart.getSummary();
      //console.log("cart_summary = " + JSON.stringify(cart_summary, true, 4));
      $status_container.html(cart_summary.item);

      return true;
  }

  //on ready
  $(function () {
      //hien thi tom tat cart
      var check_cart = setInterval(function () {
          if(showCartSummary()) clearInterval(check_cart);
      }, 100);
  })

  function show_search() {
      $('.show-search').on('click', function(){
          $(this).siblings('form').toggleClass('active');
      });
      window.addEventListener('keyup', function(e) {
          if (e.keyCode === 27) {
              $('.search form').removeClass('active');
          }
      });
  }
</script>


<!--//can xem lai ben duoi-->

<script>
function subscribe_newsletter(id_newsletter, id_submit){
$(id_submit).click(function(){
var email = document.getElementById(id_newsletter).value;
if(email.length > 3){
$.post("/ajax/post.php", { action : 'customer', action_type: 'register-for-newsletter', full_name : 'Khách hàng nh?n b?n tin', email: email }, function(data) {
if(data=='success') {
alert("Quý khách dã dang ký thành công "); 
$('#' + 'id_newsletter').val("Nh?p Email nh?n b?n tin");
}
else if(data=='exist'){ alert("Email này dã t?n t?i");}
else { alert('L?i x?y ra, vui lòng th? l?i '); }

});
}else{alert('Vui lòng nh?p d?a ch? email');}
});
}

subscribe_newsletter('email_newsletter', '#now_submit');
</script>

<script type="text/javascript">
  function formatCurrency(a) {
      var b = parseFloat(a).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1.").toString();
      var len = b.length;
      b = b.substring(0, len - 3);
      return b;
  }


window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
  } else {
      document.getElementById("myBtn").style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
$(document).ready(function() {
    var curr_text = "";
    var count_select = 0;
    var curr_element = "";
    $("#text_search").keyup(function(b) {
        htmlResult = "";
        if (b.keyCode != 38 && b.keyCode != 40) {
            inputString = $(this).val();
            $("#keySearchResult").html(inputString);
            if (inputString.trim() != '') {
                urlSearch = '/ajax/get_json.php?action=search&content=product&q=' + encodeURIComponent(inputString);
                $.getJSON(urlSearch, function(result) {
                    var data = result;
                    Object.keys(data).forEach(function(key, keyIndex) {
                        var name = data[keyIndex].productName;
                        var url = data[keyIndex].productUrl;
                        var image = data[keyIndex].productImage.medium;
                        var price = formatCurrency(data[keyIndex].price);
                        if (price != 0)
                            price = price + 'vnd‘';
                        else
                            price = "Liên h?"

                        htmlResult += "<div class=\"autocomplete-suggestion\" onclick=\"window.location='" + url + "'\">";
                        htmlResult += "<table><tbody><tr>";
                        htmlResult += "<td style=\"vertical-align:top\"><a href='" + url + "'><img src='" + image + "' width='50' style='margin-right:10px;'/></a></td>";
                        htmlResult += "<td style='vertical-align:top; color:red; line-height:18px;'><a class='suggest_link' href='" + url + "'>" + name + "</a><br/>Giá:" + price + "</td>";
                        htmlResult += "</tr></tbody></table></div>";
                    });
                    $(".autocomplete-suggestions").html(htmlResult);
                    $(".autocomplete-suggestions").show();
                });

            } else {
                $(".autocomplete-suggestions").hide();
            }
        }
    });
    $('body').click(function() {
        $(".autocomplete-suggestions").hide();
    });
});
</script>


<!---//script hien thi homepage-->

  
    <!---//Can phai xoa-->
  	<script src="/includes/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <!---//end: Can phai xoa-->
  
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  </script>
 
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a5afd4a4b401e45400c128a/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script--> 
  
  
</body>
</html>
  
<!-- Load time: 0.112 seconds  / 6.25 mb-->
<!-- Powered by HuraStore 7.4.4, Released: 12-Aug-2018 / Website: www.hurasoft.vn -->
        
