doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Trải nghiệm sản phẩm thủy sinh cao cấp từ Gex, Senda, ADA, và Smekong. Tất cả từ phân nền, đất trồng, đến phụ kiện, hỗ trợ bạn tạo hồ cá thủy sinh đẳng cấp.')
        meta(name='author', content='')

        title Thủy sinh Sài Thành

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container.px-4.px-lg-5
                a.navbar-brand(href='https://www.thuysinhsaithanh.com')
                    img(src='assets/logo.png', alt='Thủy sinh Sài Thành')
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#!') Trang Chủ
                        li.nav-item
                            a.nav-link(href='#!') Giới thiệu
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Cửa Hàng
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#!') Tất cả sản phẩm

        header.bg-dark.py-5(style='background-image: url("assets/banner/banner-bg.jpeg"); background-size: cover; background-position: center; height: 800px')

        // Section
        section.py-5
            .container.px-4.px-lg-5.my-5
                .text-center.text-black
                    h1.display-4.fw-bolder Trồng cây nuôi cá, hãy nhớ đến Thủy Sinh Sài Thành
                    p.lead.fw-normal.text-black-50.mb-0 Khi nói đến việc tạo dựng và chăm sóc hồ cá cảnh thủy sinh, việc chọn lựa sản phẩm chất lượng là yếu tố quyết định. Trong thế giới hồ cá cảnh, các thương hiệu như Gex, Senda, ADA, và Smekong đã nổi tiếng với dòng sản phẩm phân nền và đất trồng cây chất lượng cao, đáp ứng nhu cầu đa dạng của người chơi hồ cá từ nghiệp dư đến chuyên nghiệp.
                    p.lead.fw-normal.text-black-50.mb-0 Đối với thủy sinh, phân nền không chỉ đóng vai trò cung cấp dinh dưỡng cho cây mà còn giữ vai trò quan trọng trong việc duy trì hệ sinh thái cân bằng trong hồ. Các sản phẩm của ADA, với công thức đặc biệt, được đánh giá cao về khả năng cung cấp dưỡng chất cần thiết cho sự phát triển của cây thủy sinh. Bên cạnh đó, Gex và Senda cũng mang đến những lựa chọn tuyệt vời với phân nền có khả năng giữ chất lượng nước, hỗ trợ phát triển rễ và tăng cường sức khỏe cho cây.
                    p.lead.fw-normal.text-black-50.mb-0 Trong khi đó, đất trồng cây của Smekong không chỉ tốt cho sự phát triển của cây mà còn tạo nên vẻ đẹp tự nhiên và sinh động cho hồ cá cảnh. Sự kết hợp giữa vẻ đẹp tự nhiên và chức năng là điều mà Smekong luôn hướng đến.
                    p.lead.fw-normal.text-black-50.mb-0 Không chỉ dừng lại ở việc cung cấp phân nền và đất trồng cây, những thương hiệu này còn đem đến giải pháp toàn diện cho hồ cá cảnh từ các loại máy lọc nước, đèn chiếu sáng đến các phụ kiện trang trí. Mỗi sản phẩm đều được thiết kế để tối ưu hóa môi trường sống cho cả cá và cây cối, giúp người chơi dễ dàng duy trì và phát triển hồ cá cảnh của mình.
                    p.lead.fw-normal.text-black-50.mb-0 Sự đa dạng trong sản phẩm cũng đồng nghĩa với việc người chơi có nhiều lựa chọn hơn để tạo nên một hồ cá cảnh không chỉ đẹp về mặt thẩm mỹ mà còn bền vững về mặt sinh thái. Từ người mới bắt đầu cho đến những người đã có kinh nghiệm, ai cũng có thể tìm thấy những sản phẩm phù hợp từ Gex, Senda, ADA, và Smekong để đáp ứng nhu cầu và sở thích cá nhân của họ trong thế giới hồ cá cảnh thủy sinh.
            .container.px-4.px-lg-5.mt-5
            
                //- .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='assets/product/gex_do_8kg.png', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX đỏ - chuyên nuôi tép [bao 8kg]
                                    // Product price
                                    | 500.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX xanh [Bao chiết 1kg]- Phân nền cao cấp tơi xốp giàu dinh dưỡng cho bể cá
                                    // Product price
                                    | 64.400 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX đỏ [bao chiếc 1kg] - chuyên nuôi tép
                                    // Product price
                                    | 70.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX xanh [bao 2kg] - Phân nền cao cấp tơi xốp giàu dinh dưỡng cho bể cá
                                    // Product price
                                    | 125.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh Senda cho bể cá (2kg)
                                    // Product price
                                    | 65.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX xanh [bao 8kg] - Phân nền cao cấp tơi xốp giàu dinh dưỡng cho bể cá
                                    // Product price
                                    | 490.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền thủy sinh GEX xanh [bao 4kg] - Phân nền cao cấp tơi xốp giàu dinh dưỡng cho bể cá
                                    // Product price
                                    | 250.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân nền AQUAFOR TOPSOIL (3 lít) cho bể cá (MÀU ĐEN)
                                    // Product price
                                    | 55.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Phân Nền ADA Amazonia Ver.1 (1L) CHỮ VÀNG cho bể cá
                                    // Product price
                                    | 195.000 &#8363;
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Liên hệ
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Fancy Product
                    //-                 // Product price
                    //-                 | $40.00 - $80.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') View options
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Sale badge
                    //-         .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Special Item
                    //-                 // Product reviews
                    //-                 .d-flex.justify-content-center.small.text-warning.mb-2
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                 // Product price
                    //-                 span.text-muted.text-decoration-line-through $20.00
                    //-                 | $18.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Sale badge
                    //-         .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Sale Item
                    //-                 // Product price
                    //-                 span.text-muted.text-decoration-line-through $50.00
                    //-                 | $25.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Popular Item
                    //-                 // Product reviews
                    //-                 .d-flex.justify-content-center.small.text-warning.mb-2
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                 // Product price
                    //-                 | $40.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Sale badge
                    //-         .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Sale Item
                    //-                 // Product price
                    //-                 span.text-muted.text-decoration-line-through $50.00
                    //-                 | $25.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Fancy Product
                    //-                 // Product price
                    //-                 | $120.00 - $280.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') View options
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Sale badge
                    //-         .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Special Item
                    //-                 // Product reviews
                    //-                 .d-flex.justify-content-center.small.text-warning.mb-2
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                 // Product price
                    //-                 span.text-muted.text-decoration-line-through $20.00
                    //-                 | $18.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    //- .col.mb-5
                    //-     .card.h-100
                    //-         // Product image
                    //-         img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                    //-         // Product details
                    //-         .card-body.p-4
                    //-             .text-center
                    //-                 // Product name
                    //-                 h5.fw-bolder Popular Item
                    //-                 // Product reviews
                    //-                 .d-flex.justify-content-center.small.text-warning.mb-2
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                     .bi-star-fill
                    //-                 // Product price
                    //-                 | $40.00
                    //-         // Product actions
                    //-         .card-footer.p-4.pt-0.border-top-0.bg-transparent
                    //-             .text-center
                    //-                 a.btn.btn-outline-dark.mt-auto(href='#') Add to cart

        // Footer
        footer.py-5.bg-dark
            .container
                .row
                    .col-md-6
                        h5.text-white Thủy sinh Sài Thành
                        p.text-white
                            | Địa chỉ: 65/5B ấp Mỹ Hòa 3, Tân Xuân, Hóc Môn, TP.HCM
                            br
                            | Số điện thoại: 0961443019
                            br
                            | FB:
                            a(href="https://www.facebook.com/saithanhaquarium") https://www.facebook.com/saithanhaquarium
                    .col-md-6.text-md-end
                        p.text-white &copy; Copyright 2023.

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')